APP_VARIANT=development
EXPO_PUBLIC_SENTRY_DSN=
SENTRY_ORG=viral-development-llc
SENTRY_PROJECT=habitsapp
SENTRY_URL=https://sentry.io/
SENTRY_AUTH_TOKEN=
SENTRY_ACCESS_TOKEN=
EMBEDDED_AGENT_PROVIDER=openai
OPENAI_API_KEY=
